@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
}


.information-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.information-container.Show {
    pointer-events: auto;
    opacity: 1;

}

.information-modal {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    width: 1200px;
    height: 700px;
    max-width: 100%;
    padding: 20px 30px;
    text-align: center;
}

.information-image{
    padding-top: .5%;
    margin-right: 20px;
}

.close-information{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px 25px;
    box-shadow: 0px, 2px, 3px, rgb(0, 0, 0.3);
}

.information-description {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.information-description button{
    position: absolute;
    bottom: 0;
    right: 0;
}

.close-information:hover{
    cursor:pointer;
}